.wrapper {
  margin-top: 15px;
  margin-bottom: 50px;
  background: var(--white);
  border-radius: 27px;
  padding: 75px 0px;

  @media screen and (max-width: 1280px) {
    border-radius: 16px;
    padding: 60px 0px;
    margin-top: 30px;
  }

  @media screen and (max-width: 768px) {
    padding: 40px 0px;
    margin-top: 15px;
  }

  .wrapperContent {
    max-height: 800px;
    overflow-y: auto;
    padding: 0px 75px;

    @media screen and (max-width: 1280px) {
      padding: 0px 40px;
    }

    @media screen and (max-width: 768px) {
      padding: 0px 15px;
    }
  }

  .header {
    border-bottom: 2px solid var(--graySilver);
    padding: 0px 75px;

    @media screen and (max-width: 1280px) {
      padding: 0px 40px;
    }

    @media screen and (max-width: 768px) {
      padding: 0px 15px;
    }

    .filterWrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      @media screen and (max-width: 600px) {
        flex-direction: column;
        align-items: flex-start;
      }

      .sort {
        margin-right: 30px;

        @media screen and (max-width: 600px) {
          margin-right: 0px;
          margin-bottom: 15px;
        }
      }
    }

    .search {
      margin-bottom: 30px;
    }
  }

  .footer {
    border-top: 2px solid var(--graySilver);
    padding: 0px 75px;

    @media screen and (max-width: 1280px) {
      padding: 0px 40px;
    }

    @media screen and (max-width: 768px) {
      padding: 0px 15px;
    }
  }
}
