.wrapper {
  margin-top: 45px;
  margin-bottom: 50px;
  background: var(--white);
  border-radius: 27px;
  padding: 75px 0px;

  @media screen and (max-width: 1280px) {
    border-radius: 16px;
    padding: 60px 0px;
  }

  @media screen and (max-width: 768px) {
    padding: 40px 0px;
  }

  .wrapperContent {
    max-height: 800px;
    overflow-y: scroll;
    padding: 0px 75px;

    @media screen and (max-width: 1280px) {
      padding: 0px 40px;
    }

    @media screen and (max-width: 768px) {
      padding: 0px 15px;
    }
  }

  .header {
    border-bottom: 2px solid var(--graySilver);
    padding: 0px 75px;

    @media screen and (max-width: 1280px) {
      padding: 0px 40px;
    }

    @media screen and (max-width: 768px) {
      padding: 0px 15px;
    }

    .search {
      margin-bottom: 30px;
    }
  }

  .footer {
    border-top: 2px solid var(--graySilver);
    padding: 0px 75px;

    @media screen and (max-width: 1280px) {
      padding: 0px 40px;
    }

    @media screen and (max-width: 768px) {
      padding: 0px 15px;
    }
  }
}
