.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--black);
  color: var(--white);
  height: 100px;
  padding: 1rem 2rem;

  .container {
    display: flex;

    .item {
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
