.wrapper {
  .title {
    // .header {
    //   margin-bottom: 25px;
    // }

    .headerTitle {
      display: grid;
      grid-template-columns: 2fr 400px;
      gap: 60px;
      align-items: center;

      @media screen and (max-width: 1500px) {
        grid-template-columns: 1fr;
      }
    }
  }

  .content {
    margin-top: 55px;
    display: grid;
    gap: 30px;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'countAwards countNominee countDepartment'
      'usersGender usersAwards countDepartment'
      'activity activity activity';
    @apply animate-fade;

    @media screen and (max-width: 1500px) {
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      grid-template-areas:
        'countAwards countNominee'
        'usersGender usersAwards'
        'countDepartment countDepartment'
        'activity activity';
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 15px;
      grid-template-areas:
        'countAwards'
        'countNominee'
        'usersGender'
        'usersAwards'
        'countDepartment'
        'activity';
    }

    .countNominee {
      grid-area: countNominee;
      background: var(--orange);
      border-radius: 25px;
      padding: 20px;
      cursor: pointer;
    }

    .usersGender {
      grid-area: usersGender;
    }

    .countDepartment {
      grid-area: countDepartment;
      width: 500px;

      @media screen and (max-width: 1500px) {
        width: auto;
      }
    }

    .usersAwards {
      grid-area: usersAwards;
    }

    .activity {
      grid-area: activity;
    }

    .countAwards {
      grid-area: countAwards;
      background: var(--lime);
      border-radius: 25px;
      padding: 20px;
      cursor: pointer;
      height: fit-content;

      .countAwards_head {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
