.imageCard,
.imageCardSecond {
  object-fit: cover;
  border-radius: 27px;
  background: var(--gray-dark);
  cursor: pointer;
}

.imageCard {
  width: 400px;
  height: 400px;

  @media screen and (max-width: 1500px) {
    width: 100%;
    height: 400px;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
    border-radius: 16px;
  }
}

.imageCardSecond {
  width: 100%;
  height: 900px;
  object-fit: contain;

  @media screen and (max-width: 768px) {
    border-radius: 16px;
    height: 400px;
  }
}

.imageDefault,
.imageDefaultSecond {
  padding: 30px;
  border-radius: 27px;
  background: var(--gray-dark);
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 1280px) {
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: 768px) {
    border-radius: 16px;
  }
}

.imageDefault {
  width: 400px;
  height: 400px;
}

.imageDefaultSecond {
  width: 100%;
}

.myIndicator,
.myIndicatorSelected {
  background: var(--white);
  list-style: none;
  width: 15px;
  height: 5px;
  border-radius: 3px;
  display: inline-block;
  margin: 0 5px;
  transform: translateY(10px);
  @apply duration-200;
}

.myIndicator {
  cursor: pointer;
}

.myIndicatorSelected {
  margin: 0 5px;
  transform: translateY(10px) scaleX(1.67);
}
