.titleCompany {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 30px;

  @media screen and (max-width: 1500px) {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .imagesWrapper {
    display: flex;
    justify-content: center;

    .img {
      border-radius: 27px;
      width: 400px;
      height: fit-content;

      @media screen and (max-width: 768px) {
        border-radius: 16px;
        width: 100%;
      }
    }
  }

  > .companyDescription {
    position: relative;
    background: var(--white);
    border-radius: 27px;
    padding: 75px;

    @media screen and (max-width: 1170px) {
      padding: 60px 40px;
    }
    @media screen and (max-width: 768px) {
      border-radius: 16px;
      padding: 40px 20px;
    }

    .countUsers {
      margin-top: 55px;
      display: flex;
      align-items: center;

      @media screen and (max-width: 400px) {
        flex-direction: column;
        align-items: flex-start;
      }
      @media screen and (max-width: 1280px) {
        margin-top: 40px;
      }
      @media screen and (max-width: 768px) {
        margin-top: 30px;
      }
    }

    > .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    > .address {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      @media screen and (max-width: 1170px) {
        margin-bottom: 20px;
      }
      @media screen and (max-width: 768px) {
        margin-bottom: 15px;
      }
    }

    > .description {
      margin-bottom: 20px;
      padding-top: 55px;
      border-top: 1px solid #00000016;
      @media screen and (max-width: 1280px) {
        padding-top: 40px;
      }
      @media screen and (max-width: 930px) {
        padding-top: 30px;
      }
    }

    > .contacts {
      display: flex;
      flex-direction: column;
      width: fit-content;
      margin-top: 60px;
      @media screen and (max-width: 1280px) {
        margin-top: 40px;
      }
      @media screen and (max-width: 768px) {
        margin-top: 30px;
      }
    }

    > .colUsers {
      margin-top: 120px;
      @media screen and (max-width: 1170px) {
        margin-top: 100px;
      }
      @media screen and (max-width: 768px) {
        margin-top: 60px;
      }

      > .numberUsers {
        opacity: 0.5;
        color: var(--black);
        font-weight: 400;
        font-size: 16.5464px;
        line-height: 23px;
      }
    }

    .buttonsWrapper {
      display: flex;
      align-items: center;
      margin-top: 30px;
      margin-bottom: 55px;
      @media screen and (max-width: 1280px) {
        margin-bottom: 40px;
      }
      @media screen and (max-width: 930px) {
        margin-bottom: 30px;
        margin-top: 15px;
        flex-direction: column;
        width: 100%;
      }

      .createEventBtn {
        margin-left: 15px;

        @media screen and (max-width: 930px) {
          margin-top: 15px;
          margin-left: 0px;
          width: 100%;
        }
      }
    }
  }
}

.dots {
  position: absolute;
  top: 25px;
  right: 25px;
}

.default {
  margin-left: 10px;
  cursor: default;

  @media screen and (max-width: 400px) {
    margin-left: 0px;
  }

  button {
    cursor: default;
  }
}
