.radioButton {
  display: flex;
  border-left: 5px solid var(--white);

  .btn {
    cursor: pointer;
    padding: 12px 17px;
    color: var(--gray-dark);
    font-weight: 700;
    font-size: 14px;
    border-radius: 11px;
    background: var(--white);

    @media screen and (max-width: 768px) {
      padding: 5px 10px;
      font-size: 10px;
    }
  }

  .btnActive {
    background: var(--gray-dark);
    color: var(--white);
  }
}
