.wrapper {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  @apply animate-fade;

  @media screen and (max-width: 1500px) {
    grid-template-columns: 1fr;
    gap: 0px;
  }
}
