.wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
  align-items: center;
  background: var(--black);
  color: var(--white);
  height: 100px;
  padding: 1rem 2rem;

  .logo {
    justify-self: center;
  }

  .sign {
    justify-self: flex-end;
  }
}
