.userModalWindow {
  position: absolute;
  top: 160px;
  right: 50px;
  background: var(--white);
  z-index: 100;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
  overflow: hidden;
  padding: 45px 40px;
  @apply animate-fade;
  @media screen and (max-width: 768px) {
    overflow-y: scroll;
    padding: 60px 40px 100px 40px;
    position: fixed;
    border-radius: 16px 16px 0 0;
    top: calc(100vh - 400px);
    left: 0;
    width: 100%;
    height: 400px;
  }

  .slash {
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
      position: absolute;
      cursor: pointer;
      top: 20px;
      left: calc(50vw - 50px);
      width: 100px;
      height: 5px;
      border-radius: 3px;
      background: var(--graySilver);
      @apply duration-300;
      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .title {
    padding-bottom: 30px;
    border-bottom: 1px solid var(--gray);

    .titleItem {
      margin-bottom: 15px;
    }
  }

  .list {
    padding-top: 35px;
    position: relative;

    .item,
    .itemAbsolute {
      display: grid;
      grid-template-columns: 40px 1fr;
      align-items: center;
      margin-bottom: 35px;
      cursor: pointer;
      @apply duration-200;

      svg path {
        @apply duration-200;
      }

      &:hover .link {
        color: var(--gray);
      }

      &:hover svg path {
        stroke: var(--gray);
      }

      &:last-child {
        margin-bottom: 0px;
      }
    }

    .itemAbsolute {
      position: absolute;
      top: 15px;
      right: 15px;
    }

    .link {
      // margin-left: 20px;
      @apply duration-200;
    }
  }
}
