.wrapper {
  grid-template-columns: 100px 1fr auto;
  display: grid;
  align-items: center;
  margin-bottom: 25px;

  &:last-child() {
    margin-bottom: 0;
  }

  .img {
    margin-right: 15px;
  }

  .content {
    display: flex;
    flex-direction: column;

    .contentHeader {
      .title {
        padding-bottom: 5px;
        border-bottom: 1px solid var(--gray-dark);
      }
    }
    .contentFooter {
      display: flex;
      align-items: center;

      .date {
        .btnIcon {
          margin-left: 10px;
        }
      }

      .date2 {
        padding-left: 10px;
      }

      .date1 {
        padding-right: 10px;
        border-right: 1px solid var(--gray-dark);
      }
    }
  }

  .remove {
    margin-left: 25px;
  }
}