.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  .window {
    width: fit-content;
    height: fit-content;
    background: var(--white);
    border-radius: 16px;
    padding: 20px;

    .header {
      margin-bottom: 30px;
      text-align: center;
    }

    .create {
      text-align: center;
      margin-top: 20px;
      color: var(--gray);
      cursor: pointer;
      @apply duration-200;

      &:hover {
        color: var(--black);
      }
    }

    .role {
      text-align: center;
      padding: 5px 15px;
      margin-bottom: 5px;
      border-radius: 6px;
      cursor: pointer;
      @apply duration-200;

      &:hover {
        background: var(--gray);
      }

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}