.wrapper {
  justify-content: flex-start;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 20px;

  border-bottom: 2px solid var(--gray);

  [aria-pressed='true'],
  [aria-pressed='false'] {
    border: none !important;
    font-size: 24px !important;
    margin-right: 60px !important;
    padding: 0 !important;

    @media screen and (max-width: 1400px) {
      font-size: 19px !important;
      margin-right: 35px !important;
    }

    @media screen and (max-width: 840px) {
      font-size: 18px !important;
      margin-right: 30px !important;
    }

    @media screen and (max-width: 740px) {
      font-size: 16px !important;
      margin-right: 20px !important;
    }

    @media screen and (max-width: 640px) {
      font-size: 24px !important;
      margin-right: 0px !important;
    }
  }

  [aria-pressed='true'] {
    border: none !important;
    background: none !important;
    color: var(--gray-dark) !important;
  }

  [aria-pressed='false']:hover {
    background: none !important;
    color: var(--gray-dark) !important;
  }
}
