.wrapper {
  margin-top: 50px;
  display: grid;
  gap: 30px;
  grid-template-columns: 400px 1fr;
  @media screen and (max-width: 1500px) {
    grid-template-columns: 1fr;
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;

  @media screen and (max-width: 1280px) {
    grid-template-columns: 1fr;
  }

  .mediaVisible {
    display: none;
    @media screen and (max-width: 1500px) {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 80px;
    }
    @media screen and (max-width: 700px) {
      flex-direction: column;
      margin-bottom: 40px;
    }
  }

  .fields {
    padding: 80px;
    background: var(--white);
    border-radius: 27px;
    margin-bottom: 30px;

    @media screen and (max-width: 1280px) {
      padding: 60px 50px;
    }
    @media screen and (max-width: 768px) {
      padding: 60px 40px;
      border-radius: 16px;
    }
    @media screen and (max-width: 500px) {
      padding: 30px 15px;
    }

    .field {
      margin-bottom: 60px;

      @media screen and (max-width: 768px) {
        margin-bottom: 30px;
      }
    }

    .title {
      margin-bottom: 80px;

      @media screen and (max-width: 768px) {
        margin-bottom: 40px;
      }
    }

    .group,
    .groupGifts {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      margin-bottom: 60px;
      align-items: flex-end;

      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 30px;
        margin-bottom: 30px;
      }
    }

    .groupGifts {
      border-bottom: 2px solid var(--graySilver);
      border-top: 2px solid var(--graySilver);
      padding: 60px 0px;

      @media screen and (max-width: 768px) {
        padding: 30px 0px;
      }
    }

    .buttons {
      display: flex;
      justify-content: flex-end;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        margin-top: 60px;
      }

      .confirm {
        margin-left: 15px;

        @media screen and (max-width: 768px) {
          margin-left: 0px;
          margin-top: 15px;
        }
      }
    }
  }
}
