.wrapper {
  max-width: 800px;
  min-width: 400px;
  min-height: 200px;
  background: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px;
  border-radius: 27px;
  margin-bottom: 30px;
  overflow-y: auto;
  max-height: 90vh;

  border: none !important;
  outline: none !important;

  @media screen and (max-width: 1200px) {
    top: 50%;
    left: 50%;
  }

  @media screen and (max-width: 768px) {
    padding: 60px 20px;
    max-width: 100%;
    min-width: auto;
    width: 100%;
    border-radius: 16px;
    top: auto;
    left: 0;
    bottom: 0;
    height: fit-content;
    transform: none;
  }

  .text {
    text-align: center;
    margin-bottom: 20px;
  }

  .buttons {
    display: flex;
    justify-content: center;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      margin-top: 60px;
    }

    .confirm {
      margin-left: 15px;

      @media screen and (max-width: 768px) {
        margin-left: 0px;
        margin-top: 15px;
      }
    }

    .onlyConfirmBtn {
      margin: 0;
    }
  }
}
