.active {
  cursor: pointer;
  color: var(--dark);
}

.award {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  @apply duration-200;

  &:hover {
    color: var(--gray-dark);

    .awardsCount {
      color: var(--gray-dark);
    }
  }

  .awardsCount {
    margin-top: 5px;
    margin-left: 10px;
  }
}
