.userComponent {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray-light05);
  border-radius: 10px;
  width: 64px;
  height: 64px;
  @media screen and (max-width: 500px) {
    width: 40px;
    height: 40px;
  }

  .notification {
    width: 20px
  }

  svg path {
    @apply duration-200;
  }

  &:hover svg path {
    stroke: var(--gray-light05);
  }

  .notificationCircle {
    width: 8px;
    height: 8px;
    background-color: var(--lime);
    border-radius: 5px;
    position: absolute;
    top: 20px;
    right: 19px;
    color: var(--white);

    @media screen and (max-width: 500px) {
      top: 10px;
      right: 9px;
    }
  }

  .notificationCount {
    position: absolute;
    top: 5px;
    right: 5px;
    color: var(--gray-light05);
    @media screen and (max-width: 500px) {
      top: -4px;
      right: 4px;
      font-size: 8px;
    }
  }
}
