.wrapper {
  .userWrapper {
    display: grid;
    align-items: center;
    grid-template-columns: [start] 40px [endPosition] 20px [startLogo] 70px [endLogo] 30px [startUser] 250px [endUser] 1fr [startDepart] 150px [endDepart] 1fr [startCount] auto [endCount] 1fr [startViewer] 400px [endViewer] 50px [startArrow] auto [end];
    margin-bottom: 50px;
    cursor: pointer;
    border-radius: 20px;
    padding: 20px 30px;
    @apply duration-200;

    @media screen and (max-width: 1280px) {
      padding: 20px 20px;
      grid-template-columns: [startLogo] 70px [endLogo] 30px [startUser] 250px [endUser] 1fr [startCount] auto [endCount] 1fr [startViewer] 250px [endViewer] 50px [startArrow] auto [end];
    }
    @media screen and (max-width: 1000px) {
      grid-template-columns: [startLogo] 70px [endLogo] 30px [startUser] 200px [endUser] 1fr [startCount] auto [endCount] 1fr [startViewer] 250px [endViewer] 50px [startArrow] auto [end];
    }
    @media screen and (max-width: 900px) {
      padding: 20px 10px 13px 10px;
      grid-template-columns: [startLogo] 70px [endLogo] 30px [startUser] 200px [endUser] 1fr [startCount] auto [endCount] 1fr [startViewer] 250px [endViewer] 10px [startArrow] auto [end];
    }
    @media screen and (max-width: 800px) {
      grid-template-columns: [startLogo] 40px [endLogo] 15px [startUser] 200px [endUser] 1fr [startCount] auto [endCount] 1fr [startViewer] 250px [endViewer] 10px [startArrow] auto [end];
    }
    @media screen and (max-width: 660px) {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: [startLogo] 40px [endLogo] 15px [startUser] 147px [endUser] 1fr [startCount] auto [endCount];
    }

    &:hover {
      background: var(--graySilver);

      .arrowRight svg path {
        stroke: var(--gray-dark);
      }
    }

    &:nth-last-child(1) {
      margin-bottom: 0px;
    }

    .numberOfRating {
      grid-column: start / endPosition;

      @media screen and (max-width: 1280px) {
        display: none;
      }
    }

    .img {
      grid-column: startLogo / endLogo;
    }

    .user {
      grid-column: startUser / endUser;
      cursor: pointer;

      .userTag {
        margin-top: 5px;
      }
    }

    .depart {
      grid-column: startDepart / endDepart;
      @media screen and (max-width: 1280px) {
        display: none;
      }
    }

    .countAwards,
    .countAwardsDisable {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      grid-column: startCount / endCount;

      .union {
        margin-left: 10px;
        width: 15px;
      }
    }

    .countAwardsDisable {
      .disabled {
        color: var(--gray);
      }
      > svg path {
        fill: var(--gray);
      }
      > svg path {
        stroke: var(--gray);
      }
    }

    .viewerAward {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      grid-column: startViewer / endViewer;

      @media screen and (max-width: 660px) {
        justify-content: flex-start;
        grid-column: startLogo / endUser;
      }

      .countPreview {
        margin-left: 10px;
      }

      .imgAward {
        background: var(--graySilver);
        border-radius: 100%;
        margin-left: 10px;
        width: 50px;
        height: 50px;

        @media screen and (max-width: 800px) {
          width: 30px;
          height: 30px;
        }

        &:first-child {
          margin-left: 0px;
        }
      }

      .countIcon {
        height: 50px;
        width: 50px;
        border-radius: 100%;
        background: var(--graySilver);
        border: 1px solid var(--white);
        color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: default;
        z-index: 5;
        // grid-column: startCountIcon / end;
      }

      .countIconDisabled {
        background: transparent;
        border: none;
      }
    }

    .arrowRight {
      grid-column: startArrow / end;
      width: 13px;

      @media screen and (max-width: 1000px) {
        width: 8px;
      }

      svg path {
        @apply duration-200;
        stroke: var(--graySilver);
      }
    }
  }
}

.wrapperWithoutCountAwards {
  .userWrapper {
    display: grid;
    align-items: center;
    grid-template-columns: [start] 40px [endPosition] 20px [startLogo] 70px [endLogo] 30px [startUser] 250px [endUser] 1fr [startDepart] 150px [endDepart] 1fr [startCount] auto [endCount] 50px [startArrow] auto [end];
    margin-bottom: 50px;
    cursor: pointer;
    border-radius: 20px;
    padding: 20px 30px;
    @apply duration-200;

    @media screen and (max-width: 1280px) {
      padding: 20px 20px;
      grid-template-columns: [startLogo] 70px [endLogo] 30px [startUser] 250px [endUser] 1fr [startDepart] 150px [endDepart] 1fr [startCount] auto [endCount] 50px [startArrow] auto [end];
    }
    @media screen and (max-width: 900px) {
      grid-template-columns: [startLogo] 70px [endLogo] 30px [startUser] 250px [endUser] 1fr [startCount] auto [endCount] 1fr [startArrow] auto [end];
    }
    @media screen and (max-width: 768px) {
      padding: 20px 10px 13px 10px;
      grid-template-columns: [startLogo] 70px [endLogo] 30px [startUser] 200px [endUser] 1fr [startCount] auto [endCount] 10px [startArrow] auto [end];
    }
    @media screen and (max-width: 500px) {
      grid-template-columns: [startLogo] 40px [endLogo] 15px [startUser] 200px [endUser] 1fr [startCount] auto [endCount] 10px [startArrow] auto [end];
    }
    @media screen and (max-width: 370px) {
      grid-template-columns: [startLogo] 40px [endLogo] 15px [startUser] 138px [endUser] 1fr [startCount] auto [endCount] 10px [startArrow] auto [end];
    }

    &:hover {
      background: var(--graySilver);

      .arrowRight svg path {
        stroke: var(--gray-dark);
      }
    }

    &:nth-last-child(1) {
      margin-bottom: 0px;
    }

    .numberOfRating {
      grid-column: start / endPosition;
      @media screen and (max-width: 1280px) {
        display: none;
      }
    }

    .img {
      grid-column: startLogo / endLogo;
    }

    .user {
      grid-column: startUser / endUser;
      cursor: pointer;

      .userTag {
        margin-top: 5px;
      }
    }

    .depart {
      grid-column: startDepart / endDepart;
      @media screen and (max-width: 900px) {
        display: none;
      }
    }

    .countAwards,
    .countAwardsDisable {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      grid-column: startCount / endCount;

      .union {
        margin-left: 10px;
        width: 15px;
      }
    }

    .countAwardsDisable {
      .disabled {
        color: var(--gray);
      }
      > svg path {
        fill: var(--gray);
      }
      > svg path {
        stroke: var(--gray);
      }
    }

    .viewerAward {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      grid-column: startViewer / endViewer;

      .imgAward {
        border: 1px solid var(--white);
        background: var(--graySilver);
        border-radius: 100%;
        margin-left: 10px;
        width: 50px;
        height: 50px;
        position: absolute;
      }

      .one {
        transform: translate(-30px, 0);
        z-index: 4;
      }
      .two {
        transform: translate(-60px, 0);
        z-index: 3;
      }
      .three {
        transform: translate(-90px, 0);
        z-index: 2;
      }
      .four {
        transform: translate(-120px, 0);
        z-index: 1;
      }

      .countIcon {
        height: 50px;
        width: 50px;
        border-radius: 100%;
        background: var(--graySilver);
        border: 1px solid var(--white);
        color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: default;
        z-index: 5;
        // grid-column: startCountIcon / end;
      }

      .countIconDisabled {
        background: transparent;
        border: none;
      }
    }

    .arrowRight {
      grid-column: startArrow / end;
      width: 13px;

      @media screen and (max-width: 900px) {
        width: 8px;
      }

      svg path {
        @apply duration-200;
        stroke: var(--graySilver);
      }
    }
  }
}
