.titleUsers {
  margin-bottom: 40px;
}

.container {
  background: var(--white);
  padding: 60px 40px;
  border-radius: 27px;
  margin-bottom: 30px;

  @media screen and (max-width: 768px) {
    border-radius: 16px;
    padding: 40px 20px;
  }

  .headerContainer {
    display: grid;
    gap: 20px;
    align-items: center;
    grid-template-columns: 3fr 1fr auto auto auto;

    @media screen and (max-width: 1000px) {
      grid-template-columns: auto auto auto auto;
    }
    @media screen and (max-width: 550px) {
      grid-template-columns: 1fr;
    }

    .search {
      @media screen and (max-width: 1000px) {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row: 1;
      }
    }

    .filter {
      width: fit-content;
      cursor: pointer;

      @media screen and (max-width: 1000px) {
        grid-column: 1;
        grid-row: 2;
      }

      @media screen and (max-width: 550px) {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row: 2;
      }
    }

    .addUser {
      @media screen and (max-width: 1000px) {
        grid-column: 2;
        grid-row: 2;
      }

      @media screen and (max-width: 550px) {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row: 3;
      }
    }

    .excelBtn {
      @media screen and (max-width: 1000px) {
        width: fit-content;
        grid-column: 3;
        grid-row: 2;
      }
      @media screen and (max-width: 550px) {
        width: fit-content;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row: 4;
      }
    }

    .link {
      padding: 15px 10px;
      font-size: 12px;
      border-radius: 10px;
      border: 1px solid var(--gray-dark);
      @apply duration-200;

      &:hover {
        background: var(--gray-dark);
        color: var(--white);
      }

      @media screen and (max-width: 1000px) {
        grid-column: 4;
        grid-row: 2;
      }

      @media screen and (max-width: 550px) {
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row: 5;
      }
    }
  }

  // .header {
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  //   // margin-bottom: 30px;

  //   > .title {
  //     display: flex;
  //     align-items: flex-start;
  //     // margin-bottom: 30px;

  //     .countAwards {
  //       margin-left: 10px;
  //     }
  //   }
  // }
}

// .newUser {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 10px 0px;
//   border: 2px solid var(--graySilver);
//   border-radius: 16px;
//   margin-bottom: 15px;

//   .newUserBtn {
//     justify-content: center;
//     > div {
//       width: 100%;
//       justify-content: center;
//     }
//   }
// }
