.container {
  background: var(--white);
  padding: 80px 95px;
  border-radius: 27px;
  margin-bottom: 30px;

  @media screen and (max-width: 1170px) {
    padding: 60px 40px;
  }
  @media screen and (max-width: 768px) {
    border-radius: 16px;
    padding: 40px 20px;
  }
  .filterMedia {
    display: none;
    @media screen and (max-width: 768px) {
      display: flex;
      margin-top: 15px;
      margin-bottom: 40px;
      cursor: pointer;
    }
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    > .filter {
      width: fit-content;
      cursor: pointer;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    .title {
      display: flex;
      align-items: flex-start;
      margin-bottom: 30px;

      .countAwards {
        margin-left: 10px;
      }
    }
  }
}

.newUser {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  border: 2px solid var(--graySilver);
  border-radius: 16px;
  margin-bottom: 15px;

  .newUserBtn {
    justify-content: center;
    > div {
      width: 100%;
      justify-content: center;
    }
  }
}

.excelBtn {
  margin-bottom: 15px;
  @media screen and (max-width: 930px) {
    margin-top: 15px;
    width: 100%;
  }
}
