.p {
  font-weight: 700;
  margin: 0;
  color: var(--gray-dark);
  @apply duration-200;
}

.xs {
  font-size: 15px;
  line-height: 20px;
  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}

.s {
  font-size: 18px;
  line-height: 20px;

  @media screen and (max-width: 768px) {
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
  }
}

.m {
  font-size: 20px;
  line-height: 24px;

  @media screen and (max-width: 768px) {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
  }
}

.l {
  font-size: 22px;
  line-height: 25px;

  @media screen and (max-width: 1280px) {
    font-weight: 700;
    font-size: 18px;
  }
  @media screen and (max-width: 768px) {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
  }
}

.ll {
  font-size: 28px;
  line-height: 26px;

  @media screen and (max-width: 1280px) {
    font-weight: 700;
    font-size: 22px;
  }
  @media screen and (max-width: 768px) {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
  }
}

.xl {
  font-size: 34px;
  line-height: 32px;
}

.thin {
  font-weight: 300;
}

.bold {
  font-size: 22px;
  line-height: 29px;

  @media screen and (max-width: 768px) {
    font-size: 16px;
    line-height: 100%;
  }
}

.gray {
  opacity: 0.5;
}

.gray96 {
  color: var(--gray96);
}

.graySilver {
  color: var(--graySilver);
}

.black {
  color: var(--gray-dark);
}

.white {
  color: var(--white);
}

.grayBtn,
.limeBtn,
.silverBtn {
  width: fit-content;
  padding: 3px 12px;
  border-radius: 30px;
}

.silverBtn {
  background: var(--graySilver);
}

.limeBtn {
  background: var(--lime);
}

.grayBtn {
  background: var(--gray-light);
}
