.calendar {
  position: relative;
  border: none;
  display: flex;
  flex-direction: column;
  width: 100%;

  color: var(--black);

  border-radius: 12px;

  font-weight: 500;
  font-size: 15.2338px;
  line-height: 21px;
  font-family: var(--font-family);

  > div {
    border-radius: 12px;

    &.error {
      border: 1px solid var(--red);
    }
  }

  .placeholder {
    margin-bottom: 20px;
  }

  .closeIcon {
    width: 20px;
    height: 20px;
    position: absolute;
    cursor: pointer;
    bottom: 18px;
    right: 15px;

    path {
      @apply duration-200;
    }

    &:hover {
      path {
        stroke: var(--gray-dark);
      }
    }
  }
}
