@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Manrope', sans-serif !important;
  background: var(--black);
  @apply text-black;
}

body[data-theme='dark'] {
  --black: #ffffff;
  --white: #101010;
}

:root {
  --black: #101010;
  --white: #ffffff;
  --gray: #d8d8d8;
  --gray96: #969696;
  --grayF8: #f0f4f8;
  --graySilver: #d9e2ec;
  --backgroundMain: #f0f4f8;
  --gray-light: #f6f6f6;
  --gray-light05: #f6f6f680;
  --gray-middle: #f1f1f1;
  --gray-dark: #101010;
  --gray-dark-hover: rgba(16, 16, 16, 0.8);
  --gray-dark-015: #10101015;
  --red: #ff2600;
  --lime: #e5f23b;
  --lime-dark: #d9e62e;
  --yellow: #e5d833;
  --yellow-dark: #d3c72a;
  --orange: #edc34c;
  --orange-dark: #d9ae36;
  --gray-dark-hover-34: #343434;

  --font-family: 'Manrope', sans-serif;
  --primary-color: #22eaef;
}

// Стилизацаия sidebar слева
.MuiTreeItem-content:hover {
  background: #343434 !important;
  @apply duration-200;
}

// .Mui-selected {
//   // поправить стиль т.к. он влияет на ToggleButton в layout department
//   background: var(--white) !important;
//   > .MuiTreeItem-label {
//     color: var(--black);
//   }
//   > .MuiTreeItem-iconContainer {
//     color: var(--black);
//   }
// }

/* React Select */
.custom-select {
  &__control {
    padding: 9.5px 21px !important;
    background-color: var(--white) !important;
    border: 1px solid #00000020 !important;
    border-radius: 12px !important;
    box-shadow: none !important;

    // &--menu-is-open {
    //   border-color: var(--primary-color) !important;
    // }
  }

  &__value-container {
    padding: 0 !important;
    cursor: text !important;
  }

  &__input-container {
    color: #999aa5 !important;
  }

  &__indicator-separator {
    display: none !important;
  }

  &__indicators {
    cursor: pointer !important;
  }

  &__indicator {
    color: #66676e !important;

    &:hover {
      color: #999aa5 !important;
    }
  }

  &__multi-value {
    background-color: rgba(#999aa5, 0.6) !important;
    border-radius: 0.5rem !important;
  }

  &__multi-value__label {
    font-size: 80% !important;
    color: rgba(white, 0.7) !important;
  }

  &__multi-value__remove {
    color: rgba(white, 0.8) !important;

    &:hover {
      background-color: transparent !important;
      color: rgba(white, 1) !important;
    }
  }

  &__menu {
    padding: 20px;
    color: var(--gray-dark) !important;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.15) !important;
    border: none !important;
  }

  &__option {
    cursor: pointer !important;
    &--is-focused {
      background-color: var(--grayF8) !important;
      border-radius: 4px;
    }
    &--is-selected {
      border-radius: 4px;
      background-color: var(--gray) !important;
    }
  }

  &-container {
    > div {
      outline: none !important;
      box-shadow: none !important;
    }

    .form-control__control {
      @apply outline-none border-none transition-all;
      border-color: #ced4da !important;
      box-shadow: none !important;
    }

    &:hover,
    &--menu-is-open {
      border-color: #ced4da !important;
    }

    .form-control__indicators {
      @apply cursor-pointer;
    }
  }

  &__menu {
    @apply animate-scaleIn;
  }
}

/* React Select Artem */
.custom-select-rating {
  &__control {
    padding: 9.5px 21px !important;
    background-color: var(--white) !important;
    border: none !important;
    border-radius: 12px !important;
    box-shadow: none !important;

    // &--menu-is-open {
    // 	border-color: var(--primary-color) !important;
    // }
  }

  &__value-container {
    padding: 0 !important;
    cursor: text !important;
    color: var(--gray-dark) !important;
  }

  &__input-container {
    color: var(--gray-dark) !important;
  }

  &__indicator-separator {
    display: none !important;
  }

  &__indicators {
    cursor: pointer !important;
  }

  &__indicator {
    color: #66676e !important;

    &:hover {
      color: #999aa5 !important;
    }
  }

  &__multi-value {
    background-color: rgba(#999aa5, 0.6) !important;
    border-radius: 0.5rem !important;
  }

  &__multi-value__label {
    font-size: 80% !important;
    color: rgba(white, 0.7) !important;
  }

  &__multi-value__remove {
    color: rgba(white, 0.8) !important;

    &:hover {
      background-color: transparent !important;
      color: rgba(white, 1) !important;
    }
  }

  &__menu {
    padding: 20px;
    color: var(--gray-dark) !important;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.15) !important;
    border: none !important;
  }

  &__option {
    cursor: pointer !important;
    &--is-focused {
      background-color: var(--grayF8) !important;
      border-radius: 4px;
    }
    &--is-selected {
      border-radius: 4px;
      background-color: var(--gray) !important;
    }
  }

  &-container {
    > div {
      outline: none !important;
      box-shadow: none !important;
    }

    .form-control__control {
      @apply transition-all;
      border-color: #ced4da !important;
      box-shadow: none !important;
    }

    &:hover,
    &--menu-is-open {
      border-color: #ced4da !important;
    }

    .form-control__indicators {
      @apply cursor-pointer;
    }
  }

  &__menu {
    @apply animate-scaleIn;
  }
}

/* React Select-interval-date */
.custom-select-interval-date {
  &__control {
    padding: 9.5px 21px !important;
    background-color: var(--white) !important;
    border: 1px solid #00000020 !important;
    border-radius: 12px !important;
    box-shadow: none !important;

    // &--menu-is-open {
    //   border-color: var(--primary-color) !important;
    // }
  }

  &__value-container {
    padding: 0 !important;
    cursor: text !important;
  }

  &__input-container {
    color: #999aa5 !important;
  }

  &__indicator-separator {
    display: none !important;
  }

  &__indicators {
    cursor: pointer !important;
  }

  &__indicator {
    color: #66676e !important;

    &:hover {
      color: #999aa5 !important;
    }
  }

  &__multi-value {
    background-color: rgba(#999aa5, 0.6) !important;
    border-radius: 0.5rem !important;
  }

  &__multi-value__label {
    font-size: 80% !important;
    color: rgba(white, 0.7) !important;
  }

  &__multi-value__remove {
    color: rgba(white, 0.8) !important;

    &:hover {
      background-color: transparent !important;
      color: rgba(white, 1) !important;
    }
  }

  &__menu {
    padding: 20px;
    color: var(--gray-dark) !important;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.15) !important;
    border: none !important;
  }

  &__option {
    cursor: pointer !important;
    &--is-focused {
      background-color: var(--grayF8) !important;
      border-radius: 4px;
    }
    &--is-selected {
      border-radius: 4px;
      background-color: var(--gray) !important;
    }
  }

  &-container {
    > div {
      outline: none !important;
      box-shadow: none !important;
    }

    .form-control__control {
      @apply outline-none border-none transition-all;
      border-color: #ced4da !important;
      box-shadow: none !important;
    }

    &:hover,
    &--menu-is-open {
      border-color: #ced4da !important;
    }

    .form-control__indicators {
      @apply cursor-pointer;
    }
  }

  &__menu {
    @apply animate-scaleIn;
  }
}
