.wrapper {
  .buttonEdit,
  .buttonRefresh,
  .buttonRemove,
  .buttonNext {
    width: 56px;
    height: 56px;
  }

  svg {
    path {
      @apply duration-200;
    }
    rect {
      @apply duration-200;
    }
  }

  &:hover {
    .buttonEdit svg {
      path {
        stroke: var(--gray-dark);
      }
      rect {
        stroke: var(--gray-dark);
      }
    }

    .buttonNextActive svg {
      path {
        stroke: var(--gray-dark);
      }
      rect {
        stroke: var(--gray-dark);
      }
    }

    .buttonRemove svg {
      path {
        fill: var(--gray-dark);
      }
      rect {
        stroke: var(--gray-dark);
      }
    }

    .buttonRefresh svg {
      path {
        stroke: var(--gray-dark);
      }
      rect {
        stroke: var(--gray-dark);
      }
    }
  }
}

.disable {
  opacity: .5;
  cursor: default;
}
