.item {
  display: grid;
  grid-template-columns: 64px 1fr;
  gap: 20px;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 15px 20px;
  border-radius: 16px;
  @apply duration-200;

  &:hover {
    background: var(--graySilver);
  }

  &:last-child {
    margin-bottom: 0px;
  }

  .img {
    width: 64px;
    height: auto;
  }
}
